/* ---------- Header ------------- */

#masthead {
  margin-bottom: 50px;
  position: relative;
  z-index: 9999;
  min-height: 600px;
  background: @top-bar;
  clear: both;
  #topbar {
    overflow: hidden;
    position: relative;
    padding: 25px 0;
    transition: 0.3s all ease;
    z-index: 999;
  }
  #topbar.sticked {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999 !important;
    background-color: #333;
    padding: 0 !important;
  }
  .section-inner {
    max-width: 1300px;
    width: 100%;
  }
  .layer {
    background: fade(black, 0%);
  }
  #text-title-desc {
    clear: none;
    float: left;
    @media screen and (max-width: 768px) {
      float: none;
    }
    vertical-align: middle;
  }
  .site-branding {
    padding: 25px 0;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      text-align: center;
      float: none;
      padding-bottom: 5px;
      width: 100%;
    }
  }
  h1.site-title {
    font-size: 30px;
    margin-top: 0px;
    a {
      color: @s-accent;
      &:hover {
        color: @accent;
      }
    }
  }
  h2.site-description {
    font-size: 16px;
    margin-top: 8px;
    color: @content;
  }

  #menu-search-wrapper {
    padding: 25px 0;
    text-align: right;
    .top-search-icon {
      display: inline-block;
      font-size: 30px;
      margin-bottom: 8px;
      cursor: pointer;
      i {
        color: white;
        &:after {
          content: "";
          position: absolute;
          width: 3px;
          height: 32px;
          background-color: white;
          margin-left: 13px
        }
      }
    }
    .side-menu {
      display: inline-block;
      .menu-link {
        margin-left: 13px;
        color: white;
      }
    }
  }
  #site-logo {
    display: inline-block;
    max-width: 110px;
    height: auto;
    text-align: center;
    float: left;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
      float: none;
    }
  }
  .header-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    .header-text {
      text-align: center;
      clear: both;
      .header_text_title {
        display: block;
        font-size: 55px;
      }
      .header_text_desc {
        font-size: 25px;
        width: 70%;
        margin: auto;
        display: block;
        padding: 20px 10px;
      }
      .header-cta {
        margin: 20px 10px;
        font-size: 20px;
        display: block;
        a {
          padding: 10px 20px;
          border: 1px solid white;
          border-radius: 5px;
          background: fade(white, 20%);
        }
      }
    }
  }

}