/* -------- Nav Menu ---------- */
#site-navigation {
  display: block;
  clear: both;
  float: none;
  border-bottom: solid 1px darken(@background, 6%);
  background: @background;
  @media screen and (max-width: 768px) {
    display: none;
  }
  ul {
    li {
      float: none;
      display: inline-block;
      a {
        padding: 10px 20px;
        color: fade(@content,80%);
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        background: none;
        .transition( 0.2s all ease );
        margin-right: 1px;

      }
      &:hover {
        a {
          color: fade(@s-accent,80%);
          border-bottom: 3px solid @accent;
        }
      }
      ul li .menu-desc {
        display: none;
      }
      ul.sub-menu, ul.children {
        top: 100%;
        display: block;
        .transition( 0.4s all ease );
        perspective: 1000;
        -webkit-perspective: 1000;
        transform-origin: top;
        -webkit-transform-origin: top;
        transform: perspective(350px) translateX(20px);
        -webkit-transform: perspective(350px) translateX(20px);
        -moz-transform: perspective(350px) translateX(20px);
        opacity: 0;
        visibility: hidden;
        text-align: left;
        padding: 5px 0;
        border-radius: 0;
        box-shadow: none;
        a {
          transform: skewX(-10deg);
          background: @s-accent;
          margin-bottom: 5px;
          color: white;
          border-radius: 0px;
          margin-right: 0px;
          text-transform: none;
        }
        li ul {
          transform-origin: left;
          -webkit-transform-origin: left;
          .transition( 0.4s all ease );
          left: 100%;
          top: 0;
          opacity: 0 !important;
          li ul {
            display: none !important;
          }
        }
        li:hover {
          .transition(0.2s all ease);
          /* -webkit-transition: 0.2s all ease !important; */
          ul {
            opacity: 1 !important;
          }
        }
        a {
          padding: 5px 15px;
          font-weight: lighter;
          font-size: 12px;
          transition: 0.4s all ease;
          &:hover {
            transform-origin: left;
            text-decoration: underline;
          }
        }
      }
      &:hover {
        .transition(0.4s all ease);
        -webkit-transition: 0.4s all ease !important;
        ul.sub-menu, ul.children {
          display: block;
          transform: translateX(0px);
          -webkit-transform: translateX(0px);
          opacity: 1;
          visibility: visible;
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
    /* for the Currently active page */
    .current_page_item > a, .current-menu-item > a, .current_page_ancestor > a {
      background: @s-accent;
      color: white;
      transform: skewX(-10deg);
      &:hover {
        color: white;
      }
    }
  }
  .fa {
    padding: 0 5px 0 0;
  }
  .menu-desc {
    font-size: 12px;
    font-weight: 300;
    color: #eee;
    display: inline-block;
    margin-top: -5px;
    font-style: italic;
    text-transform: lowercase;
  }
  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
    color: @accent;
  }
}


/* Mobile Menu */
.menu-link {
  padding: 10px;
  font-size: 30px;
}
#menu {
  z-index: 999;
  overflow-y: auto;
  background: darken(@top-bar, 5%);
  text-align: left;
  padding: 0 30px;
  font-size: 20px;
  a.panel_hide_button {
    display: block;
    margin: 30px 15px;
    color: white;
    i {
      font-size: 24px;
    }
  }
  ul {
    margin-left: 0px;
    padding: 0px;
    li {
      list-style: none;
      padding: 0px;
      position: relative;
      .body-font;
      a {
        display: block;
        color: @onaccent;
        padding: 20px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      li {
        a {
          /*
                          &:before {
                              content: "\f068";
                              font-family: "FontAwesome";
                              margin-right: 20px;
                              font-size: 15px;
                          }
          */
        }
      }
    }
    li.menu-item-has-children {
      display: block;
      span.dropdown-arrow {
        position: absolute;
        height: 56px;
        width: 56px;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        background: lighten(@top-bar, 15%);
        cursor: pointer;
        i {
          margin: auto;
          color: lighten(@top-bar, 35%);
          font-weight: 700;
          font-size: 20px;
        }
      }
      ul {
        background: rgba(0,0,0,.1);
      }
    }
    .current-menu-item > a {
      background: rgba(0,0,0,.05);
    }
  }
}